<!-- card -->
<div class="shadow-xl card">
  <h2 class="mb-6">Sign in</h2>
  <!-- form end -->
  <form class="mb-4">
    <!-- social -->
    <div class="mb-6">
      <button class="btn btn-neutral btn-lg btn-block">
        <img
          src="../../../../assets/icons/google.svg"
          alt="Sign up with google"
          class="w-4"
        />
        Sign up with google
      </button>
    </div>
    <!-- social end -->

    <!-- field -->
    <div class="mb-6 rounded field outlined">
      <input
        id="username"
        type="text"
        placeholder="Username or email address"
      />
    </div>
    <!-- field end -->

    <!-- field -->
    <div class="mb-6 rounded field with-icon outlined">
      <i class="im im-fingerprint"></i>
      <input id="password" type="password" placeholder="Password" />
      <button type="button">
        <i class="im im-eye"></i>
      </button>
    </div>
    <!-- field end -->

    <!-- button -->
    <button class="btn btn-blue btn-lg btn-block">Sign in</button>
    <!-- button end -->
  </form>
  <!-- form end -->
</div>
<!-- card end -->
