<div class="max-w-screen-md mx-auto">
  <div style="height: 40px; width: 40px" class="shadow"></div>

  <div class="flex" style="justify-content: space-between">
    <div>
      <p class="mb-6">
        <button class="btn btn-blue btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-green btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-red btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-pink btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-neutral btn-lg">Sign up</button>
      </p>
    </div>
    <div>
      <p class="mb-6">
        <button class="btn btn-purple btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-yellow btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-orange btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-grey btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-dark btn-lg">Sign up</button>
      </p>
      <p class="mb-6">
        <button class="btn btn-white btn-lg">Sign up</button>
      </p>
    </div>
  </div>
</div>
