<div class="max-w-screen-lg mx-auto px-5">
  <div class="flex justify-end">
    <div class="w-full lg:w-3/4"></div>
    <div class="w-full lg:w-2/4">
      <div class="card shadow-lg">
        <h2 class="mb-4">Login</h2>
        <form class="w-full">
          <div class="field mb-6">
            <label for="username"></label>
            <input id="username" type="text" placeholder="Username" />
          </div>

          <div class="field mb-6">
            <label for="username"></label>
            <input id="username" type="password" placeholder="Password" />
          </div>

          <button class="btn btn-blue btn-lg btn-block">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
