.cdk-menu {
    @apply inline-flex flex-col;
    @apply my-4 min-w-[200px] p-3;
    @apply border-color-base bg-color-base-accent;
    @apply rounded-base;
    @apply border border-color-base;
}

.cdk-menu-item {
    @apply w-full px-6 py-1;
    @apply text-left font-medium;
    @apply rounded-base;
    @apply transition-colors duration-200;

    &:hover {
        @apply bg-color-base;
    }

    &[role='menuitemcheckbox'][aria-checked='true'],
    &[role='menuitemradio'][aria-checked='true'] {
        @apply text-primary-600 dark:text-primary-400;
    }
}
