.field {
  border: solid 2px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-color: $grey-500;
  color: var(--text-body-darker);
  overflow: hidden;

  &:focus-within {
    color: var(--text-body);
    border-bottom-color: $blue-300;

    ::placeholder {
      color: var(--text-body);
    }
  }

  input {
    width: 100%;
    height: 60px;
    background-color: inherit;
    border: none;
    color: inherit;
    outline: none;
    padding: 1.2rem 0.7rem;

    :not(:placeholder-shown) {
      color: var(--text-body) !important;
    }
  }

  &.field-sm {
    input {
      height: 40px;
    }
  }

  &.field-lg {
    input {
      height: 80px;
    }
  }

  &.with-icon {
    padding: 0 0.7rem;

    button,
    a {
      border: none;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
    }

    * + input {
      margin-left: 0.3rem;
    }

    input + * {
      margin-left: 0.3rem;
      display: grid;
      place-items: center;
    }
  }

  &.outlined {
    border-color: $grey-500;

    &:focus-within {
      border-color: $blue-300 !important;
    }
  }

  &.filled {
    border-color: var(--background-color);
    background-color: var(--background-color);

    &:focus-within {
      border-color: $blue-300 !important;
    }
  }

  &.rounded {
    border-radius: $rounded;
  }

  &.rounded-full {
    border-radius: $rounded-full;
  }
}
