.btn {
  height: $md;
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply py-3;
  @apply px-6;
  @apply text-center;
  @apply text-gray-800;
  @apply select-none;
  @apply no-underline;
  @apply transition-colors;
  @apply duration-200;
  @apply ease-in-out;

  &:hover {
    @apply cursor-pointer;
  }

  &:focus {
    @apply outline-none;
  }

  &:disabled {
    @apply opacity-75;
    @apply pointer-events-none;
  }

  > * {
    @apply px-2;
  }
}

.btn-block {
  @apply w-full;
  @apply flex;
}

.btn-sm {
  height: $sm;
  @apply py-2;
  @apply px-3;
  @apply text-base;
}

.btn-lg {
  height: $lg;
  @apply py-4;
  @apply px-10;
  @apply text-xl;
}

.btn-neutral {
  @apply bg-transparent;
  @apply text-body;

  &:hover {
    @apply text-body-darker;
  }

  &:active,
  &:focus {
    @apply text-body-darker;
  }
}

.btn-neutral-accent {
  background-color: var(--accent);
  color: var(--text-body);
  filter: contrast(0.9);

  &:hover {
    filter: contrast(1);
  }

  &:active,
  &:focus {
    filter: contrast(0.8);
  }
}

.btn-white {
  @apply bg-gray-100;
  box-shadow: 0 6px 12px 0 rgba(163, 163, 163, 0.2);

  &:hover {
    @apply bg-white;
  }

  &:active,
  &:focus {
    @apply bg-gray-200;
    box-shadow: 0 6px 12px 0 rgba(163, 163, 163, 0.4);
  }
}

.btn-secondary {
  @apply bg-gray-500;
  @apply text-white;
  box-shadow: 0 6px 12px 0 rgba(68, 68, 68, 0.2);

  &:hover {
    @apply bg-gray-400;
  }

  &:active,
  &:focus {
    @apply bg-gray-600;
    box-shadow: 0 6px 12px 0 rgba(68, 68, 68, 0.4);
  }
}

.btn-success {
  @apply bg-success-500;
  @apply text-white;
  box-shadow: 0 6px 12px 0 rgba(39, 255, 28, 0.2);

  &:hover {
    @apply bg-success-400;
  }

  &:active,
  &:focus {
    @apply bg-success-600;
    box-shadow: 0 6px 12px 0 rgba(39, 255, 28, 0.4);
  }
}

.btn-primary {
  @apply bg-primary-500;
  @apply text-white;
  box-shadow: 0 6px 12px 0 rgba(50, 125, 255, 0.2);

  &:hover {
    @apply bg-primary-400;
  }

  &:active,
  &:focus {
    @apply bg-primary-600;
    box-shadow: 0 6px 12px 0 rgba(50, 125, 255, 0.4);
  }
}

.btn-warning {
  @apply bg-warning-500;
  @apply text-white;
  box-shadow: 0 6px 12px 0 rgba(255, 151, 14, 0.2);

  &:hover {
    @apply bg-warning-400;
  }

  &:active,
  &:focus {
    @apply bg-warning-600;
    box-shadow: 0 6px 12px 0 rgba(255, 151, 14, 0.4);
  }
}

.btn-danger {
  @apply bg-danger-500;
  @apply text-white;
  box-shadow: 0 6px 12px 0 rgba(255, 14, 14, 0.2);

  &:hover {
    @apply bg-danger-400;
  }

  &:active,
  &:focus {
    @apply bg-danger-600;
    box-shadow: 0 6px 12px 0 rgba(255, 14, 14, 0.4);
  }
}
