// parent field
.field {
  @apply relative;

  // defaults
  .field-item {
    @apply border-solid;
    @apply border-b-2;
    border-color: theme("colors.gray.500");
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply overflow-hidden;
    @apply transition;
    @apply duration-200;
    @apply ease-in-out;
    color: var(--text-body-darker);

    input {
      height: $md;
      @apply w-full;
      @apply bg-inherit;
      @apply text-inherit;
      @apply py-5;
      @apply px-3;

      &:focus {
        @apply outline-none;
      }

      :not(:placeholder-shown) {
        color: var(--text-body);
      }
    }

    &:focus-within {
      color: var(--text-body);
      border-color: theme("colors.blue.300");

      ::placeholder {
        color: var(--text-body);
      }
    }
  }

  // field sizes
  &.field-sm .field-item input {
    height: $sm;
  }
  &.field-lg .field-item input {
    height: $lg;
  }

  // field styles with icons
  &.with-icon > .field-item {
    @apply py-0;
    @apply px-3;

    button,
    a {
      @apply bg-transparent;
      @apply bg-inherit;
      @apply text-inherit;
      @apply cursor-pointer;
    }

    * + input {
      @apply ml-1;
    }

    input + * {
      @apply ml-1;
      @apply grid;
      @apply place-items-center;
    }
  }

  // outlined styling mode
  &.outlined > .field-item {
    @apply border-2;
  }

  // filled styling mode
  &.filled > .field-item {
    @apply border-2;
    border-color: var(--background-color);
    background-color: var(--background-color);
  }

  // styles for field states
  &.disabled {
    @apply opacity-25;
  }
  &.valid > .field-item {
    border-color: theme("colors.green.100") !important;
  }
  &.invalid > .field-item {
    border-color: theme("colors.red.100") !important;
  }

  // styles for error messages
  & > .field-messages {
    @apply text-xs;
    @apply list-none;
    @apply bg-red-100;
    @apply rounded;
    @apply px-4;
    @apply py-2;

    li {
      @apply my-1;
      @apply text-white;
    }
  }
}
