.bg-black {
  color: $black;
}

.bg-white {
  color: $white;
}

.bg-gray-100 {
  color: $grey-100;
}

.bg-gray-200 {
  color: $grey-200;
}

.bg-gray-300 {
  color: $grey-300;
}

.bg-gray-400 {
  color: $grey-400;
}

.bg-gray-500 {
  color: $grey-500;
}

.bg-gray-600 {
  color: $grey-600;
}

.bg-gray-700 {
  color: $grey-700;
}

.bg-red-100 {
  color: $red-100;
}

.bg-red-200 {
  color: $red-200;
}

.bg-red-300 {
  color: $red-300;
}

.bg-red-400 {
  color: $red-400;
}

.bg-red-500 {
  color: $red-500;
}

.bg-red-600 {
  color: $red-600;
}

.bg-red-700 {
  color: $red-700;
}

.bg-orange-100 {
  color: $orange-100;
}

.bg-orange-200 {
  color: $orange-200;
}

.bg-orange-300 {
  color: $orange-300;
}

.bg-orange-400 {
  color: $orange-400;
}

.bg-orange-500 {
  color: $orange-500;
}

.bg-orange-600 {
  color: $orange-600;
}

.bg-orange-700 {
  color: $orange-700;
}

.bg-yellow-100 {
  color: $yellow-100;
}

.bg-yellow-200 {
  color: $yellow-200;
}

.bg-yellow-300 {
  color: $yellow-300;
}

.bg-yellow-400 {
  color: $yellow-400;
}

.bg-yellow-500 {
  color: $yellow-500;
}

.bg-yellow-600 {
  color: $yellow-600;
}

.bg-yellow-700 {
  color: $yellow-700;
}

.bg-green-100 {
  color: $green-100;
}

.bg-green-200 {
  color: $green-200;
}

.bg-green-300 {
  color: $green-300;
}

.bg-green-400 {
  color: $green-400;
}

.bg-green-500 {
  color: $green-500;
}

.bg-green-600 {
  color: $green-600;
}

.bg-green-700 {
  color: $green-700;
}

.bg-teal-100 {
  color: $teal-100;
}

.bg-teal-200 {
  color: $teal-200;
}

.bg-teal-300 {
  color: $teal-300;
}

.bg-teal-400 {
  color: $teal-400;
}

.bg-teal-500 {
  color: $teal-500;
}

.bg-teal-600 {
  color: $teal-600;
}

.bg-teal-700 {
  color: $teal-700;
}

.bg-blue-100 {
  color: $blue-100;
}

.bg-blue-200 {
  color: $blue-200;
}

.bg-blue-300 {
  color: $blue-300;
}

.bg-blue-400 {
  color: $blue-400;
}

.bg-blue-500 {
  color: $blue-500;
}

.bg-blue-600 {
  color: $blue-600;
}

.bg-blue-700 {
  color: $blue-700;
}

.bg-indigo-100 {
  color: $indigo-100;
}

.bg-indigo-200 {
  color: $indigo-200;
}

.bg-indigo-300 {
  color: $indigo-300;
}

.bg-indigo-400 {
  color: $indigo-400;
}

.bg-indigo-500 {
  color: $indigo-500;
}

.bg-indigo-600 {
  color: $indigo-600;
}

.bg-indigo-700 {
  color: $indigo-700;
}

.bg-purple-100 {
  color: $purple-100;
}

.bg-purple-200 {
  color: $purple-200;
}

.bg-purple-300 {
  color: $purple-300;
}

.bg-purple-400 {
  color: $purple-400;
}

.bg-purple-500 {
  color: $purple-500;
}

.bg-purple-600 {
  color: $purple-600;
}

.bg-purple-700 {
  color: $purple-700;
}

.bg-pink-100 {
  color: $pink-100;
}

.bg-pink-200 {
  color: $pink-200;
}

.bg-pink-300 {
  color: $pink-300;
}

.bg-pink-400 {
  color: $pink-400;
}

.bg-pink-500 {
  color: $pink-500;
}

.bg-pink-600 {
  color: $pink-600;
}

.bg-pink-700 {
  color: $pink-700;
}
