.shadow {
  box-shadow: $shadow;
}

.shadow-xs {
  box-shadow: $shadow-xs;
}

.shadow-md {
  box-shadow: $shadow-md;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}

.shadow-xl {
  box-shadow: $shadow-xl;
}

.shadow-2xl {
  box-shadow: $shadow-2xl;
}

.shadow-inner {
  box-shadow: $shadow-inner;
}

.shadow-outliner {
  box-shadow: $shadow-outline;
}

.shadow-none {
  box-shadow: none;
}
