.shadow {
  box-shadow: $shadow;
}

.shadow-xs {
  box-shadow: $shadow-xs;
}

.shadow-md {
  box-shadow: $shadow-md;
}

.shadow-lg {
  box-shadow: $shadow-lg;
}

.shadow-xl {
  box-shadow: $shadow-xl;
}
