@mixin apply-theme($mode) {
  @each $key, $value in map-get($themes, $mode) {
    --#{$key}: #{$value};
  }

  background-color: var(--background-color);
  color: var(--text-body);
}

.app {
  @include apply-theme(light);
}

.app.dark {
  @include apply-theme(dark);
  filter: brightness(0.9) contrast(1.2);
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  .app {
    // @include apply-theme(dark);
    // filter: brightness(0.9) contrast(1.2);
  }
}
