$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$font-size: 16px;

$shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);

$rounded: 8px;

$black: #121212;
$white: #fff;

$grey-100: #f8fafc;
$grey-200: #eeeeee;
$grey-300: #dfdfdf;
$grey-400: #c7c7c7;
$grey-500: #8f8f8f;
$grey-600: #6b6b6b;
$grey-700: #4d4d4d;

$red-100: #fa8b8b;
$red-200: #fd7d7d;
$red-300: #ff6363;
$red-400: #fc4e4e;
$red-500: #fd3838;
$red-600: #ff1c1c;
$red-700: #dc1010;

$orange-100: #ffd2bd;
$orange-200: #fdc6ac;
$orange-300: #ffba9a;
$orange-400: #fda982;
$orange-500: #ff9c6e;
$orange-600: #ff8b56;
$orange-700: #ee763f;

$yellow-100: #fbfd82;
$yellow-200: #fcff66;
$yellow-300: #fcff4b;
$yellow-400: #fcff30;
$yellow-500: #fbff1b;
$yellow-600: #fbff00;
$yellow-700: #e7eb00;

$green-100: #afffaf;
$green-200: #92ff92;
$green-300: #69ff69;
$green-400: #28ff28;
$green-500: #00f000;
$green-600: #00d800;
$green-700: #00c900;

$blue-100: #b6d1ff;
$blue-200: #8fb8ff;
$blue-300: #6aa0ff;
$blue-400: #5090ff;
$blue-500: #347fff;
$blue-600: #1c70ff;
$blue-700: #055df5;

$purple-100: #ddc8ff;
$purple-200: #cbabff;
$purple-300: #b68cf8;
$purple-400: #a974ff;
$purple-500: #9f63ff;
$purple-600: #9553ff;
$purple-700: #863ff8;

$pink-100: #fcb4ea;
$pink-200: #ff9fe7;
$pink-300: #fc85de;
$pink-400: #ff72dc;
$pink-500: #ff4ed3;
$pink-600: #ff1cc6;
$pink-700: #f30cba;

$themes: (
  light: (
    background-color: #fff,
    text-body: #3d4852,
    text-body-darker: #2c323a,
    text-body-lighter: #616b74,
    text-display: #121212,
    tone: #e8e8e8,
  ),
  dark: (
    background-color: #1e2121,
    text-body: #edecec,
    text-body-darker: #bbbbbb,
    text-body-lighter: #fff,
    text-display: #fff,
    tone: #3f4144,
  ),
);
