$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$font-size: 16px;
$font-body: "Noto Sans";
$font-display: "Staatliches";

$shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);

$black: #22292f;
$white: #ffffff;

$grey-100: #f8fafc;
$grey-200: #f1f5f8;
$grey-300: #dae1e7;
$grey-400: #b8c2cc;
$grey-500: #8795a1;
$grey-600: #606f7b;
$grey-700: #3d4852;

$red-100: #fcebea;
$red-200: #f9acaa;
$red-300: #ef5753;
$red-400: #e3342f;
$red-500: #cc1f1a;
$red-600: #621b18;
$red-700: #3b0d0c;

$orange-100: #fff5eb;
$orange-200: #fcd9b6;
$orange-300: #faad63;
$orange-400: #f6993f;
$orange-500: #de751f;
$orange-600: #613b1f;
$orange-700: #462a16;

$yellow-100: #fff5eb;
$yellow-200: #fcd9b6;
$yellow-300: #faad63;
$yellow-400: #f6993f;
$yellow-500: #de751f;
$yellow-600: #613b1f;
$yellow-700: #462a16;

$green-100: #e3fcec;
$green-200: #a2f5bf;
$green-300: #51d88a;
$green-400: #38c172;
$green-500: #1f9d55;
$green-600: #1a4731;
$green-700: #0f2f21;

$teal-100: #e8fffe;
$teal-200: #a0f0ed;
$teal-300: #64d5ca;
$teal-400: #4dc0b5;
$teal-500: #38a89d;
$teal-600: #20504f;
$teal-700: #0d3331;

$blue-100: #eff8ff;
$blue-200: #bcdefa;
$blue-300: #6cb2eb;
$blue-400: #3490dc;
$blue-500: #2779bd;
$blue-600: #1c3d5a;
$blue-700: #12283a;

$indigo-100: #e6e8ff;
$indigo-200: #b2b7ff;
$indigo-300: #7886d7;
$indigo-400: #6574cd;
$indigo-500: #5661b3;
$indigo-600: #2f365f;
$indigo-700: #191e38;

$purple-100: #f3ebff;
$purple-200: #d6bbfc;
$purple-300: #a779e9;
$purple-400: #9561e2;
$purple-500: #794acf;
$purple-600: #382b5f;
$purple-700: #21183c;

$pink-100: #ffebef;
$pink-200: #ffbbca;
$pink-300: #fa7ea8;
$pink-400: #f66d9b;
$pink-500: #eb5286;
$pink-600: #6f213f;
$pink-700: #451225;

$themes: (
  light: (
    background-color: $white,
    color-body: $grey-500,
    color-display: $black,
  ),
  dark: (
    background-color: $black,
    text-body: $grey-200,
    text-display: $grey-300,
  ),
);
