$themes: (
  light: (
    bg: #f3f6fa,
    accent: #fff,
    primary: #3d4852,
    secondary: #838b94,
  ),
  dark: (
    bg: #212121,
    accent: #303030,
    primary: #d6d6d6,
    secondary: #d1d1d1,
  ),
);
