<div class="flex flex-col gap-y-12">
    <section>
        <h4>Background</h4>

        <div class="text-color-base-accent">{{ currentSchema() }}</div>

        <div class="mt-4 max-w-xs">
            <app-pick-schema orientation="vertical" />
        </div>
    </section>

    <section>
        <h4>Primary color</h4>

        <div class="text-color-base-accent">{{ currentPrimaryColor() }}</div>

        <div class="mt-4">
            <app-pick-primary-color />
        </div>
    </section>

    <section>
        <h4>Font size</h4>

        <div class="mt-4">
            <app-pick-font-size />
        </div>
    </section>

    <section>
        <h4>Reset to default values</h4>

        <div class="mt-4">
            <button
                class="button button-primary"
                (click)="handleReset()"
            >
                Reset
            </button>
        </div>
    </section>
</div>
