<header>
  <nav class="shadow bg-accent">
    <div class="container flex items-center justify-between py-3 mx-auto">
      <!-- mobile -->
      <a
        routerLink="/"
        class="block text-2xl font-bold tracking-tighter no-underline cursor-pointer text-body md:hidden"
      >
        <span class="text-danger-100">A</span> B
      </a>

      <!-- desktop -->
      <a
        routerLink="/"
        class="hidden text-2xl font-bold no-underline cursor-pointer text-body md:block"
      >
        <span class="text-danger-100">Angular</span>
        Boilerplate
      </a>
    </div>
  </nav>
</header>
