// Tailwindcss
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// 01. settings
@import "01-settings/font.scss";
@import "01-settings/variables.scss";
@import "01-settings/theming.scss";

// 02. tools
// @import "02-tools/media-queries";
// @import "02-tools/animations";

// 03. generic

// 04. elements
@import "04-elements/document.scss";
@import "04-elements/headings.scss";
@import "04-elements/link.scss";
// 05. objects

// 06. components
@import "06-components/field.scss";
@import "06-components/button.scss";

// 07. trumps
