<section class="container flex items-center justify-center">
  <main class="my-16 md:max-w-xl">
    <div class="text-center">
      <h1 class="mb-4">👋 Welcome to Angular Boilerplate</h1>
      <p class="mb-12 text-xl">⚒️ Start building your SPA easily ⚒️</p>

      <a
        [routerLink]="['/', path.Dashboard]"
        class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none"
      >
        Go to dashboard
      </a>
    </div>

    <h3>Choose a theme</h3>
    <div class="flex items-center justify-start space-x-6">
      <button
        class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-gray-600 rounded-lg hover:bg-gray-500 focus:ring-4 focus:ring-offset-gray-600 focus:outline-none"
        (click)="onClickChangeTheme(theme.System)"
      >
        System
      </button>
      <button
        class="inline-flex items-center h-12 px-6 py-3 mb-12 font-semibold text-white bg-gray-600 rounded-lg hover:bg-gray-500 focus:ring-4 focus:ring-offset-gray-600 focus:outline-none"
        (click)="onClickChangeTheme(theme.Light)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          class="mr-3"
        >
          <path
            fill="#FFF"
            fill-rule="evenodd"
            d="M13 21a1 1 0 011 1v3a1 1 0 11-2 0v-3a1 1 0 011-1zm-5.657-2.343a1 1 0 010 1.414l-2.121 2.121a1 1 0 01-1.414-1.414l2.12-2.121a1 1 0 011.415 0zm12.728 0l2.121 2.121a1 1 0 01-1.414 1.414l-2.121-2.12a1 1 0 011.414-1.415zM13 8a5 5 0 110 10 5 5 0 010-10zm12 4a1 1 0 110 2h-3a1 1 0 110-2h3zM4 12a1 1 0 110 2H1a1 1 0 110-2h3zm18.192-8.192a1 1 0 010 1.414l-2.12 2.121a1 1 0 01-1.415-1.414l2.121-2.121a1 1 0 011.414 0zm-16.97 0l2.121 2.12A1 1 0 015.93 7.344L3.808 5.222a1 1 0 011.414-1.414zM13 0a1 1 0 011 1v3a1 1 0 11-2 0V1a1 1 0 011-1z"
          />
        </svg>
        Light
      </button>
      <button
        class="inline-flex items-center h-12 px-6 py-3 mb-12 font-semibold text-white bg-gray-600 rounded-lg hover:bg-gray-500 focus:ring-4 focus:ring-offset-gray-600 focus:outline-none"
        (click)="onClickChangeTheme(theme.Dark)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          class="mr-3"
        >
          <path
            fill="#FFF"
            fill-rule="evenodd"
            d="M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z"
          />
        </svg>
        Dark
      </button>
    </div>

    <h3>👉 Recommendations</h3>
    <p class="mb-6">
      If you don't know where to take it from here, there are a few
      recommendations that could be useful:
    </p>

    <h4 class="h5">State management</h4>
    <p class="mb-6">
      You can think about the complexity of your application and conclude if you
      should use a state management tool to handle the data of your application
      on a centralized spot.
    </p>

    <p>Here are some options ordered in less-to-major boilerplate code:</p>

    <div class="mt-6 mb-12 ml-8">
      <ol class="inline-block">
        <li class="list-decimal">
          <a
            href="https://datorama.github.io/akita"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            Akita
          </a>
        </li>
        <li class="list-decimal">
          <a
            href="https://www.ngxs.io"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            NGXS
          </a>
        </li>
        <li class="list-decimal">
          <a
            href="https://ngrx.io"
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            NgRx
          </a>
        </li>
      </ol>
    </div>

    <h4 class="h5">i18n</h4>
    <p class="mb-6">
      If you need to have your application in multiple languages, you need to
      think if you want server-side translations or runtime translations; if you
      want the first, the way to go is with the
      <a
        href="https://angular.io/guide/i18n"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        official solution </a
      >, on the other hand, if you want to translate your app on runtime, the
      most popular solutions are
      <a
        href="https://github.com/ngneat/transloco"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        transloco
      </a>
      and
      <a
        href=" https://github.com/ngx-translate/corengx-translate"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        ngx-translate </a
      >.
    </p>

    <h4 class="h5">Keep your styles consistent</h4>
    <p>
      Please keep in mind that all the code that you find on the templates is
      disposable; that's why the HTML is bloated with classes. In a real-world
      approach, to keep consistency across your application, you should consider
      extracting your components (buttons, inputs, modals, etc.) into
      <a
        href="https://tailwindcss.com/docs/extracting-components"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        Tailwind Components
      </a>
      or use some UI components suite like (<a
        href="https://taiga-ui.dev"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >TaigaUI</a
      >,
      <a
        href="https://akveo.github.io/nebular"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >Nebular</a
      >,
      <a
        href="https://ng.ant.design/docs/introduce/en"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >NgZorro</a
      >,
      <a
        href="https://js.devexpress.com/Overview/Angular"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >DevExtreme</a
      >,
      <a
        href="https://material.angular.io"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
        >Angular Material</a
      >, etc.).
    </p>
  </main>
</section>
