<h1 i18n="Main title | Welcome message">
  Welcome to Angular Boilerplate. You can start creating your next awesome
  project.
</h1>

<p
  i18n="Backend attribution | Attribution to the backend project developed by the same author to make API's"
>
  If you need to develop a real-world API using an amazing technology like
  <a href="https://nestjs.com/">NestJs</a>, you can use the
  <a href="https://github.com/juanmesa2097/nestjs-boilerplate"
    >NestJs Boilerplate,</a
  >
  which already has authentication, role-based access, file uploading, swagger
  UI, email sendings, dynamic queries, and much more.
</p>
