<div class="h-full pattern">
  <div class="container flex items-center justify-center h-full">
    <div class="-mt-20 text-center md:max-w-xl">
      <h1 i18n class="mb-3">👋 Welcome to Angular Boilerplate.</h1>

      <p i18n class="mb-12 text-xl">
        ⚒️ Start building your next awesome project. ⚒️
      </p>

      <p i18n class="text-gray-500">
        If you need to develop a real-world API using an amazing technology like
        <a href="https://nestjs.com/">NestJs</a>, you can use the
        <a
          href="https://github.com/juanmesa2097/nestjs-boilerplate"
          target="__blank"
          >NestJs Boilerplate,</a
        >
        which already has authentication, role-based access, file uploading,
        swagger UI, email sendings, dynamic queries, and much more.
      </p>
    </div>
  </div>
</div>
