:root {
    font-synthesis: none;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;

    @apply font-sans text-body font-normal leading-6;
    @apply antialiased;
}

html,
body {
    @apply h-full;
}
