h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-display font-semibold;
}

h1 {
    @apply text-h1;
}

h2 {
    @apply text-h2;
}

h3 {
    @apply text-h3;
}

h4 {
    @apply text-h4;
}

h5 {
    @apply text-h5;
}

h6 {
    @apply text-h6;
}
