<section>
    <div>
        <h3>Settings</h3>

        <ul>
            <li>
                <a
                    class="link text-sm"
                    [routerLink]="'/settings/accessibility'"
                >
                    Accessibility
                </a>
            </li>
            <li>
                <a
                    class="link text-sm"
                    [routerLink]="'/settings/account'"
                >
                    Account
                </a>
            </li>
            <li>
                <a
                    class="link text-sm"
                    [routerLink]="'/settings/appearance'"
                >
                    Appearance
                </a>
            </li>
        </ul>
    </div>
</section>
