@media (prefers-reduced-motion: no-preference) {
  .spin {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      width: 45px;
      height: 45px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: spin 1.2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
