<div class="flex flex-col items-center justify-center h-full">
  <h1 class="text-3xl md:text-6xl lg:text-7xl">
    <span
      class="hidden text-xl text-center md:text-3xl lg:text-6xl md:inline-block"
    >
      🎉🎉🎉
    </span>
    dashboard works!
    <span class="text-xl text-center md:text-3xl lg:text-6xl"> 🎉🎉🎉 </span>
  </h1>
  <a
    [routerLink]="[path.Home]"
    class="inline-block h-12 px-6 py-3 mb-12 font-semibold text-white bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring-4 focus:ring-offset-blue-600 focus:outline-none"
  >
    Back to home
  </a>
</div>
